span.eqno {
    float: right;
    margin-left: 0.5em;
}
span.eqno a.headerlink {
    visibility: hidden;
    position: relative;
    left: 0px;
    z-index: 1;
}
div.math:hover a.headerlink {
    visibility: visible;
}
